@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Raleway:wght@700;800&family=Inter:wght@300;400&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-mono: 'Roboto Mono', monospace;
  --font-heading: 'Raleway', sans-serif;
  --font-body: 'Inter', sans-serif;
}

body {
  @apply bg-white dark:bg-[#111827];
}